{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
	Updating {{pet.name|title}}'s Details
{% endblock title %}

{% block content %}
	<div class="card">
		<h5 class="card-header">Update {{pet.name|title}}'s Details:</h5>
		<div class="card-body">
			<span class="card-text">
				<form action="{% url 'pet-update' pet.id %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{form|crispy}}
					<input type="submit" value="Save" class="btn btn-success mt-3">
				</form>
			</span>
		</div>
	</div>
{% endblock content %}